{% extends 'base.html' %}

{% block title %}Add Post{% endblock %}

{% blockcontent %}

<h1>Add post for {{ user.full_name }}</h1>

<form method="POST">

    <div class="form-group row">
        <label for="title" class="col-sm-2 col col-form-label">TITLE</label>
        <div class="col-sm-10">
            <input class="form-control" id="title" name="title">
        </div>
    </div>

    <div class="form-group row">
        <label for="content" class="col-sm-2 col col-form-label">CONTENT</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="content" name="content"></textarea>
        </div>
    </div>

    <div class="form-group-row">
        <div class="ml-auto mr-3">
            <a href="/users/{{ user.id }}" class="btn btn-info">CANCEL</a>
            <button type="submit" class="btn btn-success">ADD</button>
        </div>
    </div>

</form>

{% endblock %}